Load libraries and data

In [1]:
import pandas as pd
import numpy as np

#Reading data given in the question as a pandas dataframe

In [2]:
data = pd.read_csv('concrete_data.csv')
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Checking the characteristics of the data

In [3]:
data.shape

(1030, 9)

In [4]:
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

Splitting data into predictors and target. We will use strength as target and the rest of them as predictors

In [5]:
data_columns = data.columns
predictors = data[data_columns[data_columns != 'Strength']] # all columns except Strength
target = data['Strength'] # Strength column

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
# number of predictors 
n_cols = predictors.shape[1] 
n_cols

8

IMPORT KERAS

In [10]:
import keras

Using TensorFlow backend.

In [11]:
from keras.models import Sequential
from keras.layers import Dense

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

Building the model

In [16]:
# build the model
model = regression_model()

 train the model for 50 epochs.

In [18]:
#fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 0s 195us/step - loss: 1603.5128
Epoch 2/50
721/721 [==============================] - 0s 37us/step - loss: 1587.9119
Epoch 3/50
721/721 [==============================] - 0s 36us/step - loss: 1573.8929
Epoch 4/50
721/721 [==============================] - 0s 41us/step - loss: 1554.3267
Epoch 5/50
721/721 [==============================] - 0s 39us/step - loss: 1516.8723
Epoch 6/50
721/721 [==============================] - 0s 37us/step - loss: 1453.3498
Epoch 7/50
721/721 [==============================] - 0s 50us/step - loss: 1356.5823
Epoch 8/50
721/721 [==============================] - 0s 58us/step - loss: 1215.3219
Epoch 9/50
721/721 [==============================] - 0s 51us/step - loss: 1020.9799
Epoch 10/50
721/721 [==============================] - 0s 33us/step - loss: 785.7588
Epoch 11/50
721/721 [==============================] - 0s 35us/step - loss: 554.1224
Epoch 12/50
721/721 [==============================] - 0s 40us/step - loss: 385.6461
Epoch 13/50
721/721 [==============================] - 0s 35us/step - loss: 300.3986
Epoch 14/50
721/721 [==============================] - 0s 36us/step - loss: 262.2303
Epoch 15/50
721/721 [==============================] - 0s 40us/step - loss: 240.5278
Epoch 16/50
721/721 [==============================] - 0s 37us/step - loss: 225.6058
Epoch 17/50
721/721 [==============================] - 0s 36us/step - loss: 214.9748
Epoch 18/50
721/721 [==============================] - 0s 40us/step - loss: 205.9218
Epoch 19/50
721/721 [==============================] - 0s 33us/step - loss: 198.0741
Epoch 20/50
721/721 [==============================] - 0s 39us/step - loss: 191.9268
Epoch 21/50
721/721 [==============================] - 0s 42us/step - loss: 186.2677
Epoch 22/50
721/721 [==============================] - 0s 36us/step - loss: 181.5655
Epoch 23/50
721/721 [==============================] - 0s 39us/step - loss: 177.3773
Epoch 24/50
721/721 [==============================] - 0s 44us/step - loss: 172.5797
Epoch 25/50
721/721 [==============================] - 0s 41us/step - loss: 169.2102
Epoch 26/50
721/721 [==============================] - 0s 36us/step - loss: 166.1721
Epoch 27/50
721/721 [==============================] - 0s 35us/step - loss: 162.6249
Epoch 28/50
721/721 [==============================] - 0s 46us/step - loss: 159.7356
Epoch 29/50
721/721 [==============================] - 0s 32us/step - loss: 157.6486
Epoch 30/50
721/721 [==============================] - 0s 41us/step - loss: 154.7259
Epoch 31/50
721/721 [==============================] - 0s 35us/step - loss: 152.6133
Epoch 32/50
721/721 [==============================] - 0s 41us/step - loss: 150.8141
Epoch 33/50
721/721 [==============================] - 0s 37us/step - loss: 148.8070
Epoch 34/50
721/721 [==============================] - 0s 33us/step - loss: 146.5548
Epoch 35/50
721/721 [==============================] - 0s 46us/step - loss: 145.1845
Epoch 36/50
721/721 [==============================] - 0s 37us/step - loss: 144.1133
Epoch 37/50
721/721 [==============================] - 0s 37us/step - loss: 142.0186
Epoch 38/50
721/721 [==============================] - 0s 36us/step - loss: 140.7531
Epoch 39/50
721/721 [==============================] - 0s 44us/step - loss: 139.3977
Epoch 40/50
721/721 [==============================] - 0s 47us/step - loss: 138.2041
Epoch 41/50
721/721 [==============================] - 0s 32us/step - loss: 136.9582
Epoch 42/50
721/721 [==============================] - 0s 35us/step - loss: 135.5461
Epoch 43/50
721/721 [==============================] - 0s 33us/step - loss: 134.6462
Epoch 44/50
721/721 [==============================] - 0s 39us/step - loss: 133.6433
Epoch 45/50
721/721 [==============================] - 0s 58us/step - loss: 132.4207
Epoch 46/50
721/721 [==============================] - 0s 51us/step - loss: 131.0405
Epoch 47/50
721/721 [==============================] - 0s 42us/step - loss: 129.7757
Epoch 48/50
721/721 [==============================] - 0s 40us/step - loss: 128.6708
Epoch 49/50
721/721 [==============================] - 0s 35us/step - loss: 127.5877
Epoch 50/50
721/721 [==============================] - 0s 40us/step - loss: 126.3501

evaluate the model on the test data.

In [19]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 52us/step

125.33078699204528

import the mean_squared_error function from Scikit-learn.

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

125.33078918511843 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared error

In [22]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 72.9121058565899
MSE 2: 58.71283139225734
MSE 3: 33.28979844645775
MSE 4: 36.937889987982594
MSE 5: 34.623225980592004
MSE 6: 35.70475856694589
MSE 7: 33.18239030560243
MSE 8: 28.216440206978312
MSE 9: 28.134649424876983
MSE 10: 27.786033543954005
MSE 11: 26.983286601440035
MSE 12: 21.928199317463008
MSE 13: 29.859672561818343
MSE 14: 29.03375473763179
MSE 15: 26.904787427784942
MSE 16: 21.20704436070711
MSE 17: 22.07522182402873
MSE 18: 25.97077041922264
MSE 19: 22.99683204823713
MSE 20: 25.98846207776116
MSE 21: 23.50454189090667
MSE 22: 22.032202982979683
MSE 23: 18.72950759134632
MSE 24: 20.5430104709366
MSE 25: 23.512557384651455
MSE 26: 26.70570005645258
MSE 27: 23.148564820150728
MSE 28: 22.832719537432524
MSE 29: 23.607072811682247
MSE 30: 18.979818819410205
MSE 31: 18.56665092147284
MSE 32: 17.179045667926086
MSE 33: 19.70841994177562
MSE 34: 19.781257802228712
MSE 35: 21.11481589406825
MSE 36: 23.06804212860305
MSE 37: 18.611664012797828
MSE 38: 21.30446293901857
MSE 39: 21.183409305066352
MSE 40: 16.95619904724911
MSE 41: 21.331836490569376
MSE 42: 16.58315920906931
MSE 43: 20.537039840105667
MSE 44: 20.871945504617536
MSE 45: 19.983304798410163
MSE 46: 18.10901677029804
MSE 47: 19.291856105273595
MSE 48: 18.89139836505779
MSE 49: 20.54316362671096
MSE 50: 22.721201646675183


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 25.24763440237514
Standard Deviation: 9.745780784900667