Load libraries and data

In [1]:
import pandas as pd
import numpy as np

#Reading data given in the question as a pandas dataframe

In [2]:
data = pd.read_csv('concrete_data.csv')
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Checking the characteristics of the data

In [3]:
data.shape

(1030, 9)

In [4]:
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

Splitting data into predictors and target. We will use strength as target and the rest of them as predictors

In [5]:
data_columns = data.columns
predictors = data[data_columns[data_columns != 'Strength']] # all columns except Strength
target = data['Strength'] # Strength column

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
# number of predictors 
n_cols = predictors.shape[1] 
n_cols

8

IMPORT KERAS

In [10]:
import keras

Using TensorFlow backend.

In [11]:
from keras.models import Sequential
from keras.layers import Dense

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [15]:
Building the model

SyntaxError: invalid syntax (<ipython-input-15-13f0189e9262>, line 1)

In [16]:
# build the model
model = regression_model()

In [17]:
 train the model for 50 epochs.

SyntaxError: invalid syntax (<ipython-input-17-96ce4140917d>, line 1)

In [18]:
#fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 0s 129us/step - loss: 1531.4466
Epoch 2/50
721/721 [==============================] - 0s 33us/step - loss: 1513.1221
Epoch 3/50
721/721 [==============================] - 0s 36us/step - loss: 1494.2296
Epoch 4/50
721/721 [==============================] - 0s 35us/step - loss: 1474.4424
Epoch 5/50
721/721 [==============================] - 0s 44us/step - loss: 1453.7336
Epoch 6/50
721/721 [==============================] - 0s 40us/step - loss: 1431.9635
Epoch 7/50
721/721 [==============================] - 0s 39us/step - loss: 1409.0376
Epoch 8/50
721/721 [==============================] - 0s 36us/step - loss: 1385.3392
Epoch 9/50
721/721 [==============================] - 0s 44us/step - loss: 1360.4315
Epoch 10/50
721/721 [==============================] - 0s 33us/step - loss: 1334.2208
Epoch 11/50
721/721 [==============================] - 0s 33us/step - loss: 1306.9358
Epoch 12/50
721/721 [==============================] - 0s 35us/step - loss: 1278.6802
Epoch 13/50
721/721 [==============================] - 0s 35us/step - loss: 1248.8994
Epoch 14/50
721/721 [==============================] - 0s 37us/step - loss: 1217.5300
Epoch 15/50
721/721 [==============================] - 0s 37us/step - loss: 1185.4841
Epoch 16/50
721/721 [==============================] - 0s 36us/step - loss: 1151.5805
Epoch 17/50
721/721 [==============================] - 0s 39us/step - loss: 1116.8362
Epoch 18/50
721/721 [==============================] - 0s 80us/step - loss: 1081.7156
Epoch 19/50
721/721 [==============================] - 0s 55us/step - loss: 1044.5623
Epoch 20/50
721/721 [==============================] - 0s 37us/step - loss: 1008.0501
Epoch 21/50
721/721 [==============================] - 0s 40us/step - loss: 971.0137
Epoch 22/50
721/721 [==============================] - 0s 35us/step - loss: 934.0973
Epoch 23/50
721/721 [==============================] - 0s 38us/step - loss: 896.5589
Epoch 24/50
721/721 [==============================] - 0s 33us/step - loss: 858.8080
Epoch 25/50
721/721 [==============================] - 0s 40us/step - loss: 821.9530
Epoch 26/50
721/721 [==============================] - 0s 44us/step - loss: 785.1257
Epoch 27/50
721/721 [==============================] - 0s 35us/step - loss: 749.5385
Epoch 28/50
721/721 [==============================] - 0s 37us/step - loss: 714.7723
Epoch 29/50
721/721 [==============================] - 0s 35us/step - loss: 680.2883
Epoch 30/50
721/721 [==============================] - 0s 37us/step - loss: 647.3541
Epoch 31/50
721/721 [==============================] - 0s 36us/step - loss: 615.6055
Epoch 32/50
721/721 [==============================] - 0s 40us/step - loss: 584.7356
Epoch 33/50
721/721 [==============================] - 0s 39us/step - loss: 555.7594
Epoch 34/50
721/721 [==============================] - 0s 37us/step - loss: 528.2400
Epoch 35/50
721/721 [==============================] - 0s 36us/step - loss: 502.0226
Epoch 36/50
721/721 [==============================] - 0s 42us/step - loss: 476.9477
Epoch 37/50
721/721 [==============================] - 0s 41us/step - loss: 453.5905
Epoch 38/50
721/721 [==============================] - 0s 39us/step - loss: 431.7443
Epoch 39/50
721/721 [==============================] - 0s 35us/step - loss: 411.0267
Epoch 40/50
721/721 [==============================] - 0s 37us/step - loss: 392.0720
Epoch 41/50
721/721 [==============================] - 0s 41us/step - loss: 374.3310
Epoch 42/50
721/721 [==============================] - 0s 44us/step - loss: 357.9093
Epoch 43/50
721/721 [==============================] - 0s 42us/step - loss: 342.8623
Epoch 44/50
721/721 [==============================] - 0s 41us/step - loss: 329.1188
Epoch 45/50
721/721 [==============================] - 0s 43us/step - loss: 316.3436
Epoch 46/50
721/721 [==============================] - 0s 35us/step - loss: 304.8828
Epoch 47/50
721/721 [==============================] - 0s 35us/step - loss: 294.2052
Epoch 48/50
721/721 [==============================] - 0s 39us/step - loss: 284.3464
Epoch 49/50
721/721 [==============================] - 0s 37us/step - loss: 275.7235
Epoch 50/50
721/721 [==============================] - 0s 37us/step - loss: 267.7596

evaluate the model on the test data.

In [19]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 48us/step

244.95254585735233

import the mean_squared_error function from Scikit-learn.

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

244.95254605849317 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared error

In [23]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 34.15061065525685
MSE 2: 37.331136586210874
MSE 3: 30.58480751012907
MSE 4: 34.91668124646431
MSE 5: 35.61874550137319
MSE 6: 37.56391535144794
MSE 7: 39.977268823913775
MSE 8: 31.781926732233043
MSE 9: 35.628380142755105
MSE 10: 32.90174075623546
MSE 11: 33.61601806690006
MSE 12: 31.366009240011568
MSE 13: 37.986205165826
MSE 14: 37.531246345791615
MSE 15: 33.15189376386624
MSE 16: 29.602057398330047
MSE 17: 36.49510786062691
MSE 18: 35.07112870941656
MSE 19: 33.55659024383644
MSE 20: 32.89622171642711
MSE 21: 33.75226990536193
MSE 22: 33.64489702885205
MSE 23: 30.386093077921945
MSE 24: 31.850237133433517
MSE 25: 35.41654217050299
MSE 26: 35.71011943878865
MSE 27: 32.95793348145716
MSE 28: 32.69295360355316
MSE 29: 38.56065306925851
MSE 30: 35.74439916024316
MSE 31: 31.00701332092285
MSE 32: 32.56946132869782
MSE 33: 31.862403061011847
MSE 34: 35.87058623477479
MSE 35: 33.95052591959635
MSE 36: 40.91053923819829
MSE 37: 30.89754114799129
MSE 38: 36.84656981434251
MSE 39: 35.358254911058545
MSE 40: 30.696459797979557
MSE 41: 37.22490524242611
MSE 42: 29.827288883789457
MSE 43: 34.95687125493022
MSE 44: 38.63605402974249
MSE 45: 37.56933881395457
MSE 46: 37.796876901175985
MSE 47: 32.99978714236164
MSE 48: 36.11213450755888
MSE 49: 35.45905101492181
MSE 50: 37.92138191642885


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 34.61833655274044
Standard Deviation: 2.7412614375998117